* {
    box-sizing: border-box;
    color: white;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter Variable';
    src: url('assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: 100 900;
}

body {
    font-family: Inter, Serif, serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
    padding: 2rem;
}

main {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
    border-radius: 1rem;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid hsl(75, 94%, 57%);
}

h1 {
    font-weight: 600;
}

main .location {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: 600;
}

p {
    margin: 2rem 0;
    font-weight: 100;
}
main .links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
main .links a {
    font-weight: 700;
    margin: 0.5rem;
    background-color: hsl(0, 0%, 20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    text-decoration: none;
    border-radius: 1rem;
}

main .attribution a {
    display: inline;
    text-decoration: underline;
    color: blue;
}

main .links a:hover {
    text-decoration: none;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}

@media screen and (max-width: 800px) {
    * {
        font-size: small;
    }
    main {
        width: 98%;
    }
}


